---
pagination:
  data: posts
  size: 10
permalink: /
---

<h1>Kirby 💚 11ty</h1>

<p>This is a very simple (unstyled) example for a site, built with <a href="https://getkirby.com">Kirby</a> and <a href="https://11ty.dev">11ty</a></p>
<p>Kirby’s query language (KQL) is used to fetch articles from our KQL playground: <a href="https://kql.getkirby.com">https://kql.getkirby.com</a></p>
<p>Use your own Kirby installation with the KQL plugin to provide a powerful headless CMS for your static 11ty site.</p>

<h2>Demo Articles</h2>

<p>Check out <code>_data/posts.js</code> to find out how articles are loaded form the KQL API.</p>

<ul>
  {% for item in pagination.items %}
  <li>
      <a href="/blog/{{ item.slug }}">{{ item.title }}</a>
    </li>
  {% endfor %}
</ul>

<h2>Follow us</h2>

<ul>
  <li><a href="https://mastodon.social/@getkirby">Mastodon</a></li>
  <li><a href="https://chat.getkirby.com">Discord</a></li>
  <li><a href="https://instagram.com/getkirby">Instagram</a></li>
  <li><a href="https://youtube.com/kirbycasts">Youtube</a></li>
  <li><a href="https://twitter.com/getkirby">Twitter</a></li>
</ul>
