---
layout: layouts/base.njk
pagination:
  data: posts
  size: 1
  alias: post
permalink: blog/{{ post.slug }}/index.html
---
<article>

  <header>
    <h1>{{ post.title }}</h1>
    <time>{{ post.date }}</time>
  </header>

  <div>
    {{ post.text | safe }}
  </div>

</article>
